﻿:root {
  font-family: 'Open Sans', serif;
  background-color: #12161f;
}

.spinner2 {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #22a6b3;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 40%;
  top: 31%;
  animation: spin 1s linear infinite;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #22a6b3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50%;
  top: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}



.loginback{
  height: 100%;
  width: 100%;
  position: absolute;
  background: #2e3442;
}

.back{
  width: 100%;
  position: absolute;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 77%, rgba(255,0,125,1) 100%);
}

.myBaseLog{
  border: none;
  padding: 5px;
  position: absolute;
  animation: fadeIn; 
  animation-duration: 2s;
  background: #2e3442;
  position: absolute;
  display:flex;
  padding: 10px;
  flex-wrap: wrap;
  margin: 0 auto;
  top: 70px;
  left: 20px;
  background-color: #2e3442;
  width: 1800px;
  height: 900px;
  overflow: auto;
  scrollbar-color: black #2e3442;
  color: whitesmoke
  }

  .myTitulo{
    font-family: 'Open Sans', serif;
    font-size: 25px;
    position: relative;
    top: -10px;
    right: -150px;
    color: white; 
  }

  .Imagem_Icone{
    width:  15px;
    height: 15px;
  }

  .myLog{
    border: none;
    padding: 5px;
    position: absolute;
    animation: fadeIn; 
    animation-duration: 2s;
    background: #2e3442;
    position: absolute;
    display:flex;
    padding: 10px;
    flex-wrap: wrap;
    margin: 0 auto;
    top: 160px;
    left: 610px;
    background-color: #2e3442;
    width: 600px;
    height: 700px;
    overflow: auto;
    scrollbar-color: black;
    color: whitesmoke
    }

    .myLogdata{
      border: none;
      padding: 5px;
      position: absolute;
      animation: fadeIn; 
      animation-duration: 2s;
      background: #2e3442;
      display:flex;
      padding: 10px;
      flex-wrap: wrap;
      margin: 0 auto;
      width: 630px;
      height: 700px;
      top: 30px;
      left: 10px;
      background-color: #2e3442;
      overflow: auto;
      scrollbar-color: black;
      color: whitesmoke
      }

      .myLogdata2{
        border: none;
        padding: 5px;
        position: absolute;
        animation: fadeIn; 
        animation-duration: 2s;
        background: #2e3442;
        display:flex;
        padding: 10px;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 550px;
        height: 700px;
        top: 30px;
        left: 650px;
        background-color: #2e3442;
        overflow: auto;
        scrollbar-color: black;
        color: whitesmoke
        }
        .myLogdata3{
          border: none;
          padding: 5px;
          position: absolute;
          animation: fadeIn; 
          animation-duration: 2s;
          background: #2e3442;
          position: absolute;
          display:flex;
          padding: 10px;
          flex-wrap: wrap;
          margin: 0 auto;
          top: 30px;
          left: 1190px;
          background-color: #2e3442;
          width: 630px;
          height: 700px;
          overflow: auto;
          scrollbar-color: black;
          color: whitesmoke
          }
        .myLogWs{
          border: none;
          padding: 5px;
          position: absolute;
          animation: fadeIn; 
          animation-duration: 2s;
          background: #2e3442;
          position: absolute;
          display:flex;
          padding: 10px;
          flex-wrap: wrap;
          margin: 0 auto;
          top: 30px;
          left: 30px;
          background-color: #2e3442;
          width: 760px;
          height: 700px;
          overflow: auto;
          scrollbar-color: black;
          color: whitesmoke
          }
        .myLogWs3{
          border: none;
          padding: 5px;
          position: absolute;
          animation: fadeIn; 
          animation-duration: 2s;
          background: #2e3442;
          position: absolute;
          display:flex;
          padding: 10px;
          flex-wrap: wrap;
          margin: 0 auto;
          top: 30px;
          left: 800px;
          background-color: #2e3442;
          width: 970px;
          height: 700px;
          overflow: auto;
          scrollbar-color: black;
          color: whitesmoke
          }

    .myLog1{
      border: none;
      padding: 5px;
      position: absolute;
      animation: fadeIn; 
      animation-duration: 2s;
      background: #2e3442;
      position: absolute;
      display:flex;
      padding: 10px;
      flex-wrap: wrap;
      margin: 0 auto;
      top: 90px;
      left: 30px;
      background-color: #2e3442;
      width: 550px;
      height: 700px;
      overflow: auto;
      scrollbar-color: black;
      color: whitesmoke
      }

      .myLog3{
        border: none;
        padding: 5px;
        position: absolute;
        animation: fadeIn; 
        animation-duration: 2s;
        background: #2e3442;
        position: absolute;
        display:flex;
        padding: 10px;
        flex-wrap: wrap;
        margin: 0 auto;
        top: 90px;
        left: 1200px;
        background-color: #2e3442;
        width: 590px;
        height: 700px;
        overflow: auto;
        scrollbar-color: black;
        color: whitesmoke
        }

  .mytitulolog{
    border: none;
    padding: 22px;
    animation: fadeIn; 
    animation-duration: 2s;
    background: #2e3442;
    font: 18px sans-serif;
    width: 600px;
    }

    .mysubtitulolog{
      border: none;
      padding: 20px;
      animation: fadeIn; 
      animation-duration: 2s;
      background: #2e3442;
      font: 16px sans-serif;
      width: 600px;
      }
      
  .panel-heading{
    border: none;
    padding: 20px;
    animation: fadeIn; 
    animation-duration: 2s;
    background: #2e3442;
    font: 16px sans-serif;
    width: 600px;
    }

  .mysublog{
  border: none;
  padding: 12px;
  animation: fadeIn; 
  animation-duration: 2s;
  background: #2e3442;
  font: 12px sans-serif;
  width: 550px;
  }

  .mysubFornecedor{
    border: none;
    padding: 6px;
    animation: fadeIn; 
    animation-duration: 2s;
    background: #2e3442;
    font: 10px sans-serif;
    width: 600px;
    }
  
  ::-webkit-scrollbar {
    background:#12161f;     
  width: 12px;
  height: 12px;
  }
  
  ::-webkit-scrollbar-track {
  border: 2px solid #12161f;
  border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
  background: #12161f;  
  border-radius: 5px;
  }

::-webkit-scrollbar-thumb {
  background: #2e3442;
  border: 1px solid #12161f;  
  border-radius: 2px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: #2e3442;  
  }

.logindivision{
  background: white;
  font-weight: bold;
  color: rgba(121,9,9,1);
  position: absolute;
  left: 40%;
  top: 20%;
  width: 30%;
  height: 70%;
  border: 1px solid black;
  border-radius: 25px;
  align-self: center;
}

.forma{
  animation: fadeIn; 
  animation-duration: 1s;
  border-style: outset;
  border-radius: 15px;
  padding: 10px;
}

.basetbl{
  animation: fadeIn; 
  animation-duration: 2s;
  background: #2e3442;
  position: absolute;
  display:flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 auto;
  width: 600px;
  height: 200px;
  top: 80px;
  left: 10px;
}

.myChart{
  animation: fadeIn; 
  animation-duration: 2s;
  background: #2e3442;
}
.myChart2{
  animation: fadeIn; 
  animation-duration: 2s;
  background: #2e3442;
}

.graficos{
  display:flex;
  flex-wrap: wrap;
  align-content: center;
  background: #2e3442;
  max-width: 600px;
  max-height: 400px;
  position:absolute;
  top:290px;
  left:10px;
}

.graficos2{
  display:flex;
  flex-wrap: wrap;
  align-content: center;
  background: #2e3442;
  max-width: 600px;
  max-height: 400px;
  position:absolute;
  top:290px;
  left:630px;
}



.statustbl{
  animation: fadeIn; 
  animation-duration: 4s;
  width: 190px;
  height: 190px;
  text-align: center;
  background: #2e3442;
  border: 5px black;
  color: white;
  margin: auto;
  padding: 20px;
  vertical-align: middle;
  float: left;
}

.logform{
  animation: fadeIn; 
  animation-duration: 1s;
  border-style: outset;
  border: 1px solid black;
  border-radius: 10px;
  width: 60%;
  height: 10%;
  left: 20%;
}


.formtext{
  animation: fadeIn; 
  animation-duration: 1s;
  font-weight: normal;
  padding: 10px;
  padding-right: 5px;
  padding-left: 35px;
}

.formtext1{
  animation: fadeIn; 
  animation-duration: 1s;
  font-weight: normal;
  padding: 10px;
  padding-right: 5px;
  padding-left: 20px;
}

.logbutton{
  background: rgba(121,9,9,1);
  color: white;
  position: absolute;
  border-radius: 25px;
  width: 25%;
  height: 8%;
}

.diviso {
  width: 5rem;
  height: 5rem;
  position: absolute;
}

.tbl{
  animation: fadeIn; 
  animation-duration: 1s;
  width: 550px;
  text-align: center;
  position: relative;
  font-size: 18px;

}

.tblheader{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  
  padding: 1rem;
  background-color: #242830;
  color: whitesmoke;
}

.tblheaderb{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 1rem;
  width: 90%;
  height: 60px;
  background-color: #2e3442;
  color: whitesmoke;
}


.tblheaderb:hover{
  font-size: 15px;
  padding: 0.5rem;
  width: 90%;
  background-color: #242830;
  color: whitesmoke;

}

.tblco{
  animation: fadeIn; 
  animation-duration: 1s;
  font-size: 15px;
  padding: 0.5rem;
  color: whitesmoke;
}






.tbl2{
  animation: fadeIn; 
  animation-duration: 1s;
  width: 580px;
  text-align: center;
  font-size: 20px;

}

.tblheader2{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 1rem;
  background-color: #242830;
  color: whitesmoke;
}
.tblco2{
  animation: fadeIn; 
  animation-duration: 1s;
  font-size: 15px;
  padding: 0.5rem;
  background-color: #2e3442;
  color: whitesmoke;

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 30px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: -20px;
  left: -20px;
  right: 20px;
  bottom: 20px;
  background-color: #12161f;
  -webkit-transition: .4s;
  transition: .4s;
}



/* Rounded sliders */
.slider.round {
  border-radius: 35px;
}


.content {
  animation: fadeIn; 
  animation-duration: 1s;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  background: #A0C5E8;
  padding: 10px 0;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 8px;
  left: 0px;
  background-color: #2e3442;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.sidenav1 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 8px;
  right: 0;
  background-color: #2e3442;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidenav1 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidenav:hover {
  color: #f1f1f1;
}

.sidenav1:hover {
  color: #f1f1f1;
}

.sidenav.closebtn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
}

.sidenav1.closebtn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

#main1 {
  transition: margin-right .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 25px;}
  .sidenav1 {padding-top: 15px;}
  .sidenav1 a {font-size: 18px;}
}